@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hi there.</h1>
    <p class="lead">This website is a database for a small fraction of the books in my library. Because I have an extensive collection of hardcopy books, and a growing collection of ebooks, a database like this will hopefully keep me from buying books I already own.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it's laid out:</h2>
        <p>
            A user will be able to view my library's Authors, Publishers, and Books by their title.
        </p>

    </div>

</div>